body {
	background-image: url('https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

.container-fluid > .text-center {

	padding-top: 70px;
}

.text-center > .first-name {
	padding-top: 40px;
	font-family: 'Palette Mosaic', cursive;
	font-size: xxx-large;
}



.text-center > .occupation  {
	/*padding-top: 20px;*/
	font-family: 'Palette Mosaic', cursive;
	font-size: xx-large;
}

