
/*Adding background-image*/
body {
	background-image: url('https://images.pexels.com/photos/1420701/pexels-photo-1420701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
  	position: relative;

}


body {
	border: 0px;
	padding: 0px;

}

/*smooth scroll-behavior*/
html {
	scroll-behavior: smooth;
}

html, body {
    max-width: 100%;
    
}

/*Space on top of picture*/
#home {
	padding-top: 150px;
}

#aboutb, #werkb, #contactb {
font-weight: bolder;
font-family: 'Press Start 2P', cursive;


}
#homeb {
	opacity: 0.7;
}
/*Space on top of name*/
.container-fluid > .text-center {

	padding-top: 70px;
}

/*Changing font family and Size*/
.text-center > .first-name {
	padding-top: 40px;
	font-family: 'Press Start 2P', cursive;
	font-size: xxx-large;
}



.text-center > .occupation  {
	/*padding-top: 20px;*/
	font-family: 'Press Start 2P', cursive;
	font-size: x-large;
}

.aboutm {
	padding: 80px;
	border: 100px;
	font-size: x-large;
	font-family: 'Press Start 2P', cursive;
	color: black;
	background-color: ghostwhite;
	opacity: 0.6;
}

/*Make name bigger on hover*/
#name:hover {
	font-size: 550%;
}

/*Change font of description on hover*/
#devel:hover {
	font-family: 'Faster One', cursive;
}

#homeb > a:hover, #homeb > a:focus  {
	opacity: 1.0;
}

/*hover effects on navbar buttons*/
#aboutb:hover {
	background: gray;
	}

#werkb:hover {
	background: gray;
	}

#contactb:hover {
	background: gray;
	}

#aboutb, #werkb, #contactb, #homeb {
	color: black;
	background: whitesmoke;
}

#skillshead, #hozhead {
	padding-bottom: 30px;
}

#skills, #educbg{
	border-bottom: 40px;
	padding-bottom: 50px;
}

.row {
	font-family: 'Press Start 2P', cursive;
	word-wrap: break-word;
}

#work, #projlabel, #cap23 {
	font-family: 'Press Start 2P', cursive;
	font-size: xxx-large;

}

/*making the elements appear as block*/
#desc2, #educs {
padding: 20PX;
}

/*#desc2 > p {
 white-space: pre;
}*/

/*dividing the columns of educ and hobbies section*/
.row {  
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;}

.leftcontainer {
	flex: 60%;
	padding: 60px;
}

.rightcontainer {
	flex: 40%;
	padding: 60px;
	
}

.row1 {  
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;}

.aboutm {
	flex: 20%;
	flex-wrap: wrap;
	}



.card-deck {
	text-align: center;
}

#work {

	padding-bottom: 10px;
}


/*hover on tools*/

.container, .container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8, .container9, .container10, .container11, .container12, .container13 {
  position: relative;
  width: 50%;
}

.image, .image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13 {
  display: block;
  width: 100%;
  height: auto;
}

.overlay, .overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8, .overlay9, .overlay10, .overlay11, .overlay12, .overlay13 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay, .container1:hover .overlay1, .container2:hover .overlay2, .container3:hover .overlay3, .container4:hover .overlay4, .container5:hover .overlay5, .container6:hover .overlay6, .container7:hover .overlay7, .container8:hover .overlay8, .container9:hover .overlay9, .container10:hover .overlay10, .container11:hover .overlay11, .container12:hover .overlay12, .container13:hover .overlay13 {
  opacity: 1;
}

.text, .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11, .text12, .text13 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#proj > div img {
	border: 20px solid #555;
}

#proj {
	border-bottom: 30px;
}

#projlabel {
	padding-top: 60px;
	padding-bottom: 80px;
}

footer {
	font-family: 'Press Start 2P', cursive;
}

.fa {
  padding: 20px;
  font-size: 60px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: red;
  color: white;}

  .fa-linkedin {
  background: blue;
  color: white;}

  .fa-reddit {
  background: orangered;
  color: white;}

  .fa-twitter {
  background: turquoise;
  color: white;
}

footer {
	padding-top: 80px;
}

#picture {
	opacity: 0.8;
}